
.contenedor {
  width: 80%;
  height: 730px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #1b242f;
  margin-left: 175px;
  margin-right: 175px;
}

h2 {
    text-align: center;
}



